.card__dashboard-body {
    background-color: #f5efeb;
}

.card__dashboard-main {
    height: 100%;
    border: 2px solid black !important;
    text-align: center;
}

.card__dashboard-text {
    text-align: left;
}